.nav__bar {
    background-color: #f7f7f7;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 5px 30px;
}

.nav__bar .nav__bar__tab {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.nav__bar .nav__bar__tab i{
    display: block;
    margin-bottom: 5px;
    text-align: center;
    font-size: 24px;
}